<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lease.web.admin.mapper.AttrKeyMapper">

    <resultMap id="AttrKeyVoResultMap" type="com.example.lease.web.admin.vo.attr.AttrKeyVo">
        <id column="id" property="id"></id>
        <result column="key_name" property="name"></result>
        <collection property="attrValueList" ofType="com.example.lease.model.entity.AttrValue">
            <id column="value_id" property="id"></id>
            <result column="value_name" property="name"></result>
            <result column="attr_key_id" property="attrKeyId"></result>
        </collection>
    </resultMap>

    <select id="attrInfoList" resultMap="AttrKeyVoResultMap">
        select
            k.id,
            k.name as key_name,
            v.id as value_id,
            v.name as value_name,
            v.attr_key_id
            from attr_key k
                          left join attr_value v on k.id = v.attr_key_id and v.is_deleted=0
        where k.is_deleted=0
    </select>
    
</mapper>